body {
  min-height: 100vh;
  display: -ms-grid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-image: url("https://images.unsplash.com/photo-1502134249126-9f3755a50d78?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3BhY2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Balsamiq Sans", cursive;
  color: white;
  padding-right: 10rem;
}
.glassy {
  position: relative;
  font-family: "Balsamiq Sans", cursive;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  padding: 20px;
  top: -10vh;
  left: 100px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  width: 50%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
